<% @plans.each do |plan| %>

  <%= form_tag subscriptions_update_path, method: :put do %>
    <h2><%= plan[:name] %></h2>
    <h3><%= number_to_currency(plan[:amount] / 100) %></h3>
    <%= hidden_field_tag :plan_id, plan[:id] %>


    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description=<%= plan[:name] %>
            data-amount=<%= plan[:amount] %> * ($('input#box_number').val() * 5);
            data-locale="auto"></script>
    <br />

    <%= number_field_tag 'box_number', '1' %>
 <% end %>

<% end %>
