<!DOCTYPE html>
<html>
  <head>
    <title>TheDurhamFoodGrowler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="pull-xs-right">
      <% if user_signed_in? %>
        <li class="nav-item">Welcome back <%= current_user.first_name %></li>
        <li class="nav-item"><%= current_user.email %></li>
        <li class="nav-item">Purchased Boxes <%= current_user.purchased_boxes %></li> 

        <li class="nav-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <div> <li class="nav-item"><%= link_to 'New User Sign Up', new_user_registration_path %></li>
              <li class="nav-item"><%= link_to 'User Sign In', new_user_session_path %></li>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
